<div class='current_template-container' style='-webkit-user-drag: element;' >
  <span id="current_template-close" onclick="parentNode.remove()"></span>
  <small>CurrentTemplateViewer</small>
  <p class='current_template-inner'>
  Template: <%= "#{`tail log/development.log`}".scan(/\s[a-z]+\/\S+[erb|haml|slim]\s/) %>
  </p>
</div>
<style>
.current_template-container{
  max-width: 450px;
	position: fixed;
	bottom: 10px;
	background: green;
	color: #fff;
	right: 10px;
	opacity: 0.8;
	padding: 10px 40px;
	border-radius: 5px;
	z-index: 999999;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-weight: 200;
}
.current_template-inner{
margin-top: 20px;
}
#current_template-close{
  color: #fff;
  position: absolute;
  right: 5px;
  top: 0px;
  padding: 4px 10px;
  cursor: pointer;
}
#current_template-close:hover{
  color: #fff;
}
#current_template-close:after {
  content: '×'; /* UTF-8 symbol */
}
</style>
